<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <template id="header-template">
      <style>
        header {
          max-width: 52rem;
          margin: auto;
          position: sticky;
        }
        nav {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        a {
          text-decoration: none;
          color: black;
        }
      </style>
      <header>
        <nav>
          <div>
            <a href="./">Bidlet</a>
          </div>
          <div>
            <a href="./search">
              <span
                class="fa-solid fa-magnifying-glass text-xl text-brand-dark hover:text-accent-dark sm:text-2xl"
              ></span>
            </a>
            <a href="./create">
              <span class="fa-solid fa-plus text-xl text-brand-dark hover:text-accent-dark sm:text-2xl"></span>
            </a>
            <a href="./login">
              <span class="fa-regular fa-user text-xl text-brand-dark hover:text-accent-dark sm:text-2xl"></span>
            </a>
          </div>
        </nav>
      </header>
    </template>
  </body>
</html>
